body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif; }

.wraper {
  width: 100%;
  margin: auto; }

.container {
  max-width: 1024px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px; }

.container-full {
  margin-right: auto;
  margin-left: auto; }

.row {
  width: 100%;
  position: relative; }

header {
  height: 170px;
  background-color: #ffffff;
  border-bottom: 2px #C4C4C4 double; }

.logo {
  text-align: center;
  height: 85px; }
  .logo img {
    width: 120px;
    margin: 10px 0px; }

nav {
  text-align: center; }
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  nav li {
    display: inline-block;
    height: 85px; }
  nav a {
    display: block;
    padding: 32px 6px;
    text-decoration: none;
    color: #7acfd6;
    font-weight: bold;
    font-size: 13px; }
  nav li:hover {
    background-color: #ececec; }
  nav a:hover {
    color: #df3e43; }

.opasity04 {
  opacity: 0.4; }

.biginig {
  min-height: 507px;
  height: 100%; }

.box, .left, .right {
  width: 100%;
  text-align: center; }

.left {
  background-image: url(../../img/imac-apple-mockup-app-38544.jpeg);
  background-color: rgba(223, 62, 67, 0.6);
  background-position: center;
  background-size: cover; }
  .left .textbox {
    background-color: rgba(223, 62, 67, 0.6); }

.right {
  background-color: #7acfd6; }

.italic {
  font-style: italic; }

.textbox {
  padding: 20px; }
  .textbox h3 {
    font-size: 32px;
    color: #FFFFFF; }
  .textbox p {
    color: #FFFFFF; }
  .textbox button {
    background: transparent none repeat scroll 0% 0%;
    border: 2px solid white;
    color: #FFF;
    cursor: pointer; }

.wraper-hi {
  background-color: #ececec; }

.discription {
  text-align: center;
  padding: 50px 0;
  background-color: #ececec;
  min-height: 400px;
  height: 100%; }
  .discription .hi {
    border: 3px #df3e43 solid;
    display: inline-block;
    font-size: 32px;
    text-align: center;
    padding: 10px 20px;
    color: #df3e43;
    font-weight: bold; }
  .discription a {
    color: #000000;
    text-decoration: none;
    padding-bottom: 50px; }

.weknow {
  background: url(../../img/letter.jpg);
  background-size: cover;
  background-position: center;
  padding: 15%; }
  .weknow .inside {
    background-color: rgba(223, 62, 67, 0.6);
    padding: 15px;
    margin: auto;
    width: 90%;
    color: #FFF; }
  .weknow p {
    font-size: 18px; }
  .weknow h3 {
    font-size: 28px;
    color: #FFF; }
  .weknow button {
    background: transparent none repeat scroll 0% 0%;
    border: 5px solid white;
    color: #FFF;
    cursor: pointer;
    padding: 5px 20px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 50px; }

.menage {
  background-color: #FFFFFF;
  background-size: cover; }
  .menage .firstrd {
    padding: 20px 0;
    box-sizing: border-box;
    height: 100%;
    min-height: 430px; }
    .menage .firstrd .rd {
      float: left;
      width: 100%;
      background-color: #ececec;
      padding: 60px 50px 100px;
      box-sizing: border-box;
      text-align: center; }
    .menage .firstrd img {
      max-width: 150px;
      width: 100%; }
    .menage .firstrd button {
      background: transparent none repeat scroll 0% 0%;
      border: none;
      cursor: pointer; }

.half .content {
  float: left;
  width: 100%;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  height: 100px;
  background-color: #7acfd6; }
  .half .content:last-child {
    background-color: #e73827; }
  .half .content h3 {
    font-style: italic;
    font-weight: 100;
    color: #FFFFFF; }
    .half .content h3 span {
      font-weight: bold;
      text-transform: uppercase;
      font-style: normal; }

.botom-full {
  background-color: #FFFFFF;
  height: 300px; }
  .botom-full .botom {
    float: left;
    width: 100%;
    font-size: 24px;
    background-color: #FFFFFF;
    height: 100px; }
    .botom-full .botom h3 {
      margin: 40px 0;
      font-style: italic;
      text-align: center; }
    .botom-full .botom p {
      font-style: italic;
      text-align: center;
      margin: 40px 0; }
    .botom-full .botom button {
      background: transparent none repeat scroll 0% 0%;
      border: 2px solid #d2d2d2;
      color: #df3e43;
      cursor: pointer;
      padding: 5px;
      font-size: 24px;
      font-weight: bold;
      margin: 30px 0;
      display: block; }

.footer {
  box-sizing: border-box;
  bottom: 0;
  padding-top: 30px;
  background-color: #ececec; }
  .footer .contact {
    width: 100%;
    padding-top: 20px; }
    .footer .contact .socialc {
      text-align: center;
      clear: both;
      background-color: #ececec; }
      .footer .contact .socialc img {
        width: 50px; }
      .footer .contact .socialc:first-child {
        padding-top: 20px; }
    .footer .contact .data {
      background-color: #ececec;
      text-align: center;
      padding: 15px;
      font-size: 13px; }
  .footer .social {
    width: 100%;
    margin-right: 5px;
    background-color: #ececec; }
    .footer .social img {
      width: 50px; }

/*# sourceMappingURL=main.css.map */
