$font: Helvetica,sans-serif;
$primary-text: #000000;
$box-text: #FFFFFF;
$red-back: #df3e43;
$grean-back: #7acfd6;
$black-back: #000000;
$gray-back: #ececec;
$white-back: #FFFFFF;
$red-text: #df3e43;
$gray-text: #bcbcbc;
$grean-text: #7acfd6;
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}
body {
    padding: 0;
    margin: 0;
    font-family: $font;
}
.wraper {
    width: 100%;
    margin: auto;
}
.container {
    max-width: 1024px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}
.container-full {
  
    margin-right: auto;
    margin-left: auto;
}
.row {
 
    width: 100%;
    position: relative;
   
}
header {
    height: 85px;
    background-color: #ffffff;
    border-bottom: 2px #C4C4C4 double;
}
.logo {
    float: left;
    height: 85px;
    img {
        width: 120px;
        margin: 10px 0px;
    }
}
nav {
    float: right;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    li {
        display: inline-block;
        height: 85px;
    }
    a {
        display: block;
        padding: 32px 12px;
        text-decoration: none;
        color: $grean-text;
        font-weight: bold;
    }
    li:hover {
        background-color: $gray-back;
		
    }
	a:hover {color:$red-back;}
}
.opasity04 {
    opacity: 0.4;
}
.biginig {
    min-height: 507px;
    height: 100%;
}
.box {
    width: 100%;
    text-align: center;
}
.left {
    @extend .box;
    background-image: url(../../img/imac-apple-mockup-app-38544.jpeg);
    background-color: rgba(223,62,67 ,.60);
    background-position: center;
    background-size: cover;
    .textbox {
        background-color: rgba(223,62,67 ,.60);
    }
}
.right {
    @extend .box;
    background-color: $grean-back;
}
.italic {
    font-style: italic;
}
.textbox {
    padding: 120px 100px 150px;
    h3 {
        font-size: 32px;
        color: $box-text;
    }
    p {
        color: $box-text;
    }
    button {
        background: transparent none repeat scroll 0% 0%;
        border: 2px solid rgb(255,255,255);
        color: #FFF;
        cursor: pointer;
    }
}
.wraper-hi {
    background-color: $gray-back;
}
.discription {
    text-align: center;
    padding: 50px 0;
    background-color: $gray-back;
    min-height: 400px;
    height: 100%;
    .hi {
        border: 3px $red-back solid;
        display: inline-block;
        font-size: 32px;
        text-align: center;
        padding: 10px 20px;
        color: $red-text;
        font-weight: bold;
    }
    a {
        color: $primary-text;
        text-decoration: none;
        padding-bottom: 50px;
    }
}
.weknow {
    background: url(../../img/letter.jpg);
    background-size: cover;
    background-position: center;
    padding: 15%;
    margin-top: -100px;
    .inside {
        background-color: rgba(223,62,67 ,.60);
        padding: 30px 50px 60px;
        margin: auto;
        width: 80%;
        color: #FFF;
    }
    p {
        font-size: 18px;
    }
    h3 {
        font-size: 48px;
        color: #FFF;
        
    }
    button {
        background: transparent none repeat scroll 0% 0%;
        border: 5px solid rgb(255,255,255);
        color: #FFF;
        cursor: pointer;
        padding: 10px 30px;
        font-size: 22px;
        font-weight: bold;
        margin-top: 50px;
    }
}
.menage {
    background-color: $white-back;
    background-size: cover;
    .firstrd {
       padding: 20px 0;
	   box-sizing: border-box;
       height: 100%;
       min-height: 430px;
       
        .rd {
            float: left;
            width: 100%;
            background-color: $gray-back;
            padding: 60px 50px 100px;
            box-sizing: border-box;
            text-align: center;
        }
        img {
            max-width: 150px;
            width: 100%;
        }
        button {
            background: transparent none repeat scroll 0% 0%;
            border: none;
            cursor: pointer;
        }
    }
}
.half {
   
 
    .content {
        float: left;
        width: 100%;
        padding: 20px;
        text-align: center;
        box-sizing: border-box;
		height:100px;
		background-color:#7acfd6;
		&:last-child {
		background-color:#e73827;}
        h3 {
            font-style: italic;
            font-weight: 100;
            color: $box-text;
            span {
                font-weight: bold;
                text-transform: uppercase;
                font-style: normal;
            }
        }
    }
}
.botom-full {
    background-color: $white-back;
    height: 300px;

    .botom {
        float: left;
        width: 100%;
        font-size: 24px;
        background-color: $white-back;
        height: 100px;
        h3 {
            margin: 40px 0;
            font-style: italic;
			text-align: center;

        }
        p {
            font-style: italic;
            text-align: center;
            margin: 40px 0;
        }
        button {
            background: transparent none repeat scroll 0% 0%;
            border: 2px solid #d2d2d2;
            color: $red-text;
            cursor: pointer;
            padding: 5px;
            float: right;
            font-size: 24px;
            font-weight: bold;
            margin: 30px 0;
			text-align: center;

        }
    }
}

.footer{
	height: 430px;
	bottom:0;
	padding-top: 30px;
	background-color:$gray-back;

	.contact{
		float:left;
		width:50%;
		padding-top: 20px;
		
	.socialc{
			float:left;
			clear:both;
			
		
			img { width:50px;}}
	.data{float:left;
	
	padding:15px;
	font-size:13px;}
		
	}
	
		
		.social{
		float:left;
		width:50%;
		img {width: 50px;
		margin-right:5px;}
		
		}}
	